@font-face {
	font-family: 'Chomsky';
	src: url(./Chomsky.woff2);
}
@font-face {
	font-family: 'Franklin';
	src: url(./LibreFranklin-Bold.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app-body {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding-inline: 8px;
}

.title {
    text-align: center;
    font-family: Chomsky;
    font-weight: 200;
    font-size: clamp(32px, 9vw, 45px);
}

.gridrow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto 6px;
}

.gridrow div {
    border: 2px solid #d3d6da;
    aspect-ratio: 1;
    
    flex: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Franklin;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
    
}

.keyboard {
    width: 100%;
    margin-block: 20px;
    container-type: inline-size;
}

.keyboardRow {
    --gap: 4px;
    --key-w: calc((100cqw - 9 * var(--gap)) / 10);

    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin-block: 5px;
}

.key {
    flex: none;
    width: var(--key-w);
    height: calc(var(--key-w) * 1.4);
    background-color: #d3d6da;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    font-family: Franklin;
    font-size: calc(var(--key-w) * 0.5);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
}

.key.wide {
    width: calc(var(--key-w) * 1.5 + var(--gap) / 2);
    font-size: calc(var(--key-w) * 0.3);
}

.keyIcon {
    height: 60%;
    pointer-events: none;
}

.cell.green { 
    background-color: #6aaa64; 
    border-color: #6aaa64;
    color: white; 
}
.cell.yellow { 
    background-color: #c9b458;
    border-color: #c9b458;
    color: white; 
}
.cell.gray { 
    background-color: #787c7e; 
    border-color: #787c7e;
    color: white; 
}
.cell.current { 
    background-color: #dcdcdc; 
}
